<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}" th:with="activeTitle='Tambah Kurikulum', activeTab='DATA_KURIKULUM'">

<head>
    <title>Sahabat Quran | Tambah Kurikulum</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
<div layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Tambah Kurikulum</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                        <li class="breadcrumb-item"><a th:href="@{/admin/data-kurikulum}">Data Kurikulum</a></li>
                        <li class="breadcrumb-item active">Tambah Kurikulum</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Form Tambah Kurikulum</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times-circle"></i>
                    </button>
                </div>
            </div>

            <div class="card-body shadow-lg rounded-lg bg-white p-6">
                <form th:action="@{/admin/save-data-kurikulum}" method="post" th:object="${kurikulum}">
                    <div class="mb-4">
                        <label for="kode" class="block text-gray-700 text-sm font-bold mb-2">Kode:</label>
                        <input type="text" id="kode" name="kode" th:field="*{kode}" required class="border rounded-lg p-2 w-full" placeholder="Masukkan kode pengajar">
                    </div>
                    <div class="mb-4">
                        <label for="nama" class="block text-gray-700 text-sm font-bold mb-2">Nama:</label>
                        <input type="nama" id="nama" name="nama" th:field="*{nama}" required class="border rounded-lg p-2 w-full" placeholder="Masukkan nama pengajar">
                    </div>

                    <!-- Status -->
                    <div class="flex flex-col">
                        <label for="aktif" class="text-gray-700">Status Kurikulum</label>
                        <select id="aktif" name="aktif" class="border rounded-lg p-2 mt-1" required>
                            <option value="" disabled selected>Pilih status kurikulum</option>
                            <option value="true">Aktif</option>
                            <option value="false">Non-Aktif</option>
                        </select>
                    </div>

                    <!-- Submit Button -->
                    <div class="flex justify-end mt-3">
                        <div class="flex justify-end">
                            <a th:href="@{/admin/data-kurikulum}" class="bg-gray-200 text-gray-800 hover:bg-gray-300 px-4 py-2 rounded-lg shadow mr-4 transition-transform transform hover:scale-105" style="color: inherit;">Batal</a>
                            <button type="submit" class="bg-gray-800 text-white rounded-lg px-4 py-2 shadow transition-all duration-200 hover:bg-gray-700 transition-transform transform hover:scale-105">
                                <i class="fas fa-save text-white mr-2"></i>
                                Simpan
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
</body>
</html>
