<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}" th:with="activeTitle='Home', activeTab='HOME'">

<head>
    <title>Sahabat Quran | Home Pengajar</title>
    <div layout:fragment="customHead"></div>
</head>

<body>
<div layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Data Pengajar</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                        <li class="breadcrumb-item active">Data Pengajar</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Daftar Pengajar</h3>
                <div class="card-tools">
                    <a class="btn btn-primary btn-sm" th:href="@{/admin/add-data-pengajar}">
                        <i class="fas fa-plus"></i> Tambah Pengajar
                    </a>
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times-circle"></i>
                    </button>
                </div>
            </div>

            <div class="card-body">
                <!-- Tabel Daftar Pengajar -->
                <table class="table table-striped table-bordered table-hover mt-3">
                    <thead style="background-color: #343a40; color: white;">
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>Email</th>
                        <th>Nomor Handphone</th>
                        <th>Aksi</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="pengajar, iterStat : ${pengajars}">
                        <td th:text="${iterStat.index + 1}"></td>
                        <td th:text="${pengajar.nama}"></td>
                        <td th:text="${pengajar.email}"></td>
                        <td th:text="${pengajar.nomorHandphone}"></td>
                        <td class="text-center">
                            <a class="btn btn-warning btn-sm" th:href="@{/admin/edit-data-pengajar}">
                                <i class="fas fa-edit"></i> Edit
                            </a>
                            <a th:href="@{/admin/delete-data-pengajar}" class="btn btn-danger btn-sm delete-confirmation" data-message="Apakah Anda yakin ingin menghapus data ini?">
                                <i class="fas fa-trash"></i> Delete
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<div layout:fragment="customScript"></div>
</body>
</html>
