<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{admin/layout}" th:with="activeTitle='Home',activeTab='HOME'">
<head>
    <div layout:fragment="customHead">
        <title>Sahabat Quran | Home Pengajar</title>
    </div>
</head>
<body>
<div layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Pengajar Page</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <!--                        <li class="breadcrumb-item"><a href="#">Home</a></li>-->
                        <li class="breadcrumb-item active">Home</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Welcome to the Pengajar Page!<Page></Page>!</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times-circle"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <!--                Hi!, <span th:text="${#authentication.getPrincipal().getUsername()}"></span>-->
                Hi Pengajar
            </div>
            <!-- /.card-body -->
            <!--            <div class="card-footer">-->
            <!--                Footer-->
            <!--            </div>-->
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<div layout:fragment="customScript"></div>
</body>
</html>
