<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="sidebar">
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a th:href="@{/}" class="brand-link text-center">
            <!--            <img src="../../dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">-->
            <span id="appTitle" class="brand-text font-weight-light">Sahabat Quran</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <div class="user-panel mt-3 pb-3 mb-3 d-flex" >
                <div class="info">
                    <div class="row">
                        <a class="col-12" th:text="${namaPengajar}"></a>
                    </div>
                </div>
            </div>
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Home -->
                    <li class="nav-item">
                        <a th:href="@{/}" class="nav-link">
                            <i class="nav-icon fas fa-home"></i>
                            <p>Home</p>
                        </a>
                    </li>
                    <!-- Sidebar Items -->
                    <li class="nav-item">
                        <a th:href="@{/admin/data-pengajar}" class="nav-link">
                            <i class="nav-icon fas fa-user"></i>
                            <p>Data Pengajar</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/admin/data-bank-rekening}" class="nav-link">
                            <i class="nav-icon fas fa-university"></i>
                            <p>Data Bank dan Rekening</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/admin/data-kurikulum}" class="nav-link">
                            <i class="nav-icon fas fa-book"></i>
                            <p>Data Kurikulum</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/admin/data-ruangan}" class="nav-link">
                            <i class="nav-icon fas fa-building"></i>
                            <p>Data Ruangan</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/admin/data-kelas}" class="nav-link">
                            <i class="nav-icon fas fa-chalkboard-teacher"></i>
                            <p>Data Kelas</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/admin/plotting-kurikulum-kelas}" class="nav-link">
                            <i class="nav-icon fas fa-arrow-right"></i>
                            <p>Plotting Kurikulum ke Kelas</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/admin/plotting-kelas-pengajar}" class="nav-link">
                            <i class="nav-icon fas fa-arrow-right"></i>
                            <p>Plotting Kelas ke Pengajar</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/admin/plotting-kelas-ruangan}" class="nav-link">
                            <i class="nav-icon fas fa-arrow-right"></i>
                            <p>Plotting Kelas ke Ruangan</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/admin/jadwal-belajar}" class="nav-link">
                            <i class="nav-icon fas fa-calendar"></i>
                            <p>Jadwal Belajar</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/admin/jadwal-ujian}" class="nav-link">
                            <i class="nav-icon fas fa-calendar-check"></i>
                            <p>Jadwal Ujian</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/admin/soal-ujian}" class="nav-link">
                            <i class="nav-icon fas fa-question-circle"></i>
                            <p>Soal Ujian</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/admin/parameter-penilaian}" class="nav-link">
                            <i class="nav-icon fas fa-tasks"></i>
                            <p>Parameter Penilaian Ujian / Bobot Penilaian</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/admin/event}" class="nav-link">
                            <i class="nav-icon fas fa-bell"></i>
                            <p>Event</p>
                        </a>
                    </li>
                </ul>

            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

</div>
</body>
</html>
