# ========================================
#  FILE & FOLDER PENTING (JANGAN DI-COMMIT)
# ========================================

# Dependency
Backend/node_modules/
node_modules/

# Environment Variables
Backend/.env
.env

# Database Data
pgdata/

# Editor Settings
.vscode/
.idea/
*.swp

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Testing & Coverage
Backend/coverage/
coverage/
.nyc_output/

# Playwright
playwright-report/
test-results/
blob-report/
/playwright/.cache/
/playwright/.auth/

# System Files
.DS_Store
Thumbs.db

# ========================================
#  UPLOADS (Hanya simpan struktur & file awal klien)
# ========================================
# Abaikan semua file di dalam subfolder uploads
Backend/public/uploads/materi/*
Backend/public/uploads/tugas/*
Backend/public/uploads/submit/*

# JANGAN abaikan file permintaan klien (misal: formatnya .pdf atau .png)
!Backend/public/uploads/submit/*.docx
!Backend/public/uploads/materi/*.doc
!Backend/public/uploads/materi/*.docx
!Backend/public/uploads/tugas/*.doc
!Backend/public/uploads/tugas/*.docx