# ========================================
#  FILE & FOLDER PENTING (JANGAN DI-COMMIT)
# ========================================

# Node modules (besar dan tidak perlu masuk git)
node_modules/

# Environment variables
Backend/.env

# Jika manajemen_db adalah file, pakai yang ini:
manajemen_db/
db.js/

# VSCode personal settings
.vscode/
