# ========================================
#  FILE & FOLDER PENTING (JANGAN DI-COMMIT)
# ========================================

# Dependency
Backend/node_modules/
node_modules/

# Environment Variables (Rahasia)
Backend/.env

# Database Data (Jika ada folder data dari Docker)
pgdata/

# Editor Settings
.vscode/

# Logs
npm-debug.log*