<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{pengajar/layout}" th:with="activeTitle='Jadwal Belajar', activeTab='JADWAL BELAJAR'">
<head>
    <div layout:fragment="customHead">
        <title>Sahabat Quran | Jadwal Mengajar</title>
    </div>
</head>
<body>
<div layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Jadwal Mengajar</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                        <li class="breadcrumb-item active">Jadwal Mengajar</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Pengajar: Lionel Messi</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times-circle"></i>
                    </button>
                </div>
            </div>

            <div class="card-body">
                <table class="table table-striped table-bordered table-hover mt-3">
                    <thead style="background-color: #343a40; color: white;">
                    <tr>
                        <th>No</th>
                        <th>ID Pelajaran</th>
                        <th>Mata Pelajaran</th>
                        <th>Jadwal</th>
                        <th>Jam Pelajaran</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>A123</td>
                        <td>Iqro</td>
                        <td>2024-09-30, 19.20 WIB</td>
                        <td>2</td>
                        <td class="text-center">
                            <a href="#" class="btn">
                                <i class="fas fa-play-circle"></i> Start Pengajaran
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>A234</td>
                        <td>Bahasa Arab</td>
                        <td>2024-10-30, 15.00 WIB</td>
                        <td>1</td>
                        <td class="text-center">
                            <a href="#" class="btn">
                                <i class="fas fa-play-circle"></i> Start Pengajaran
                            </a>
                        </td>
                    </tr>
                    <tr></tr>
                        <td>3</td>
                        <td>B456</td>
                        <td>Bahasa Indonesia</td>
                        <td>2024-11-30, 16.30 WIB</td>
                        <td>1</td>
                        <td class="text-center">
                            <a href="#" class="btn">
                                <i class="fas fa-play-circle"></i> Start Pengajaran
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>
<div layout:fragment="customScript"></div>
</body>
</html>
