<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="sidebar">
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a th:href="@{/}" class="brand-link text-center">
            <span id="appTitle" class="brand-text font-weight-light">Sahabat Quran</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="info">
                    <div class="row">
                        <a class="col-12" th:text="${namaPengajar}"></a>
                    </div>
                </div>
            </div>
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Home -->
                    <li class="nav-item">
                        <a th:href="@{/}" class="nav-link">
                            <i class="nav-icon fas fa-home"></i>
                            <p>Home</p>
                        </a>
                    </li>

                    <!-- Daftar Kelas yang dipegang -->
                    <li class="nav-item">
                        <a th:href="@{/pengajar/daftar-kelas}" class="nav-link">
                            <i class="nav-icon fas fa-chalkboard-teacher"></i>
                            <p>Daftar Kelas</p>
                        </a>
                    </li>

                    <!-- Jadwal Mengajar -->
                    <li class="nav-item">
                        <a th:href="@{/pengajar/jadwal}" class="nav-link">
                            <i class="nav-icon fas fa-calendar-alt"></i>
                            <p>Jadwal Mengajar</p>
                        </a>
                    </li>

                    <!-- Start Sesi Belajar -->
                    <li class="nav-item">
                        <a th:href="@{/pengajar/sesi-belajar}" class="nav-link">
                            <i class="nav-icon fas fa-play-circle"></i>
                            <p>Start Sesi Belajar</p>
                        </a>
                    </li>

                    <!-- Finish Sesi Belajar
                    <li class="nav-item">
                        <a th:href="@{/pengajar/finish-sesi}" class="nav-link">
                            <i class="nav-icon fas fa-stop-circle"></i>
                            <p>Finish Sesi Belajar</p>
                        </a>
                    </li> -->

                     <!-- Rekap Sesi Pengajaran  -->
                    <li class="nav-item">
                        <a th:href="@{/pengajar/rekap-pengajaran}" class="nav-link">
                            <i class="nav-icon fas fa-list-alt"></i>
                            <p>Rekap Pengajaran</p>
                        </a>
                    </li> 

                    <!-- Input Berita Acara Sesi Pelajaran -->
                    <li class="nav-item">
                        <a th:href="@{/pengajar/berita-acara}" class="nav-link">
                            <i class="nav-icon fas fa-file-alt"></i>
                            <p>Input Berita Acara</p>
                        </a>
                    </li>

                    <!-- Start Sesi Ujian Praktek -->
                    <li class="nav-item">
                        <a th:href="@{/pengajar/ujian-praktik}" class="nav-link">
                            <i class="nav-icon fas fa-pen-square"></i>
                            <p>Ujian Praktik</p>
                        </a>
                    </li>

                     <!-- Finish Sesi Ujian Praktek
                    <li class="nav-item">
                        <a th:href="@{/pengajar/finish-ujian}" class="nav-link">
                            <i class="nav-icon fas fa-check-circle"></i>
                            <p>Finish Ujian Praktek</p>
                        </a>
                    </li> -->

                    <!-- Rekap Sesi Ujian -->
                    <li class="nav-item">
                        <a th:href="@{/pengajar/rekap-ujian}" class="nav-link">
                            <i class="nav-icon fas fa-clipboard"></i>
                            <p>Rekap Ujian</p>
                        </a>
                    </li>

                    <!-- Lihat Mutabaah Peserta -->
                    <li class="nav-item">
                        <a th:href="@{/pengajar/mutabaah}" class="nav-link">
                            <i class="nav-icon fas fa-clipboard-list"></i>
                            <p>Mutabaah Peserta</p>
                        </a>
                    </li>

                    <!-- Slip Gaji -->
                    <li class="nav-item">
                        <a th:href="@{/pengajar/slip-gaji}" class="nav-link">
                            <i class="nav-icon fas fa-receipt"></i>
                            <p>Slip Gaji</p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
</div>
</body>
</html>
