<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}" th:with="activeTitle='Ujian Praktik', activeTab='UJIAN_PRAKTIK'">

<head>
    <title>Sahabat Quran | Jadwal Ujian</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
<div layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Ujian Praktik</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                        <li class="breadcrumb-item active">Ujian Praktik</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Ujian Praktik - Bahasa Arab</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times-circle"></i>
                    </button>
                </div>
            </div>

            <div class="card-body shadow-lg rounded-lg bg-white p-6">
                <div class="overflow-x-auto">

                    <div>
                        <h3 class="card-title">ID Ujian: 1203</h3><br>
                        <h3 class="card-title">Ruangan: A301</h3><br>
                        <h3 class="card-title">Jadwal: Kamis, 12.30 - 14.30</h3><br>
                    </div>
                    <!-- <div class="flex justify-between mb-4">
                        <input type="text" id="searchInput" class="border rounded-lg p-2 w-1/3" placeholder="Search all columns..." onkeyup="filterTable()">
                    </div> -->

                    <table class="min-w-full border border-gray-300 mt-3 shadow-lg">
                        <thead>
                        <tr style="background-color: #343a40;" class="text-white">
                            <th class="border border-gray-300 px-4 py-2">No</th>
                            <th class="border border-gray-300 px-4 py-2">ID Siswa</th>
                            <th class="border border-gray-300 px-4 py-2">Nama Siswa</th>
                            <th class="border border-gray-300 px-4 py-2">Absensi Ujian</th>
                        </tr>
                        </thead>
                        <tbody id="ujianTable">
                        <tr class="hover:bg-gray-100">
                            <td class="border border-gray-300 px-4 py-2">1</td>
                            <td class="border border-gray-300 px-4 py-2">0011</td>
                            <td class="border border-gray-300 px-4 py-2">Ronaldo</td>
                            <td class="text-center">
                                <button onclick="markPresence('Andi', this)" style="padding: 5px 10px; background-color: #007bff; color: white; border: none; border-radius: 5px; cursor: pointer;">Mark Absen</button>
                            </td>
                        </tr>
                        <tr class="hover:bg-gray-100">
                            <td class="border border-gray-300 px-4 py-2">2</td>
                            <td class="border border-gray-300 px-4 py-2">0012</td>
                            <td class="border border-gray-300 px-4 py-2">Neymar</td>
                            <td class="text-center">
                                <button onclick="markPresence('Andi', this)" style="padding: 5px 10px; background-color: #007bff; color: white; border: none; border-radius: 5px; cursor: pointer;">Mark Absen</button>
                            </td>
                        </tr>
                        <tr class="hover:bg-gray-100">
                            <td class="border border-gray-300 px-4 py-2">3</td>
                            <td class="border border-gray-300 px-4 py-2">0013</td>
                            <td class="border border-gray-300 px-4 py-2">Pele</td>
                            <td class="text-center">
                                <button onclick="markPresence('Andi', this)" style="padding: 5px 10px; background-color: #007bff; color: white; border: none; border-radius: 5px; cursor: pointer;">Mark Absen</button>
                            </td>
                        </tr>
                        <tr class="hover:bg-gray-100">
                            <td class="border border-gray-300 px-4 py-2">4</td>
                            <td class="border border-gray-300 px-4 py-2">0014</td>
                            <td class="border border-gray-300 px-4 py-2">Bambang</td>
                            <td class="text-center">
                                <button onclick="markPresence('Andi', this)" style="padding: 5px 10px; background-color: #007bff; color: white; border: none; border-radius: 5px; cursor: pointer;">Mark Absen</button>
                            </td>
                        </tr>
                        <!-- Add more rows as needed -->
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>

<div layout:fragment="customScript">
</div>
</body>
</html>
