# file penting, jangan dicommit
/node_modules

# Environment variables file peniting, jangan dicommit
.env
package-lock.json

# Docker file penting, jangan dicommit
manajemen_db

# Konfig personal, jangan dicommit
.vscode