# file penting, jangan dicommit
/node_modules

# Environment variables file peniting, jangan dicommit
.env
package-lock.json
backup.sql

# Docker file penting, jangan dicommit
manajemen_db

# Konfig personal, jangan dicommit
.vscode

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

Backend/src/config/db.js
Backend/src/config/db.js