--
-- PostgreSQL database dump
--

\restrict nVftiIKGDp5v6kAAB4qiU5eOAbAtiR2T1C5XVsBrkiDjZYsZEF1gfNxdFtLLzmk

-- Dumped from database version 15.16 (Debian 15.16-1.pgdg13+1)
-- Dumped by pg_dump version 15.16 (Debian 15.16-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: normalize_kategori(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.normalize_kategori() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  NEW.kategori := INITCAP(TRIM(NEW.kategori));

  RETURN NEW;

END;

$$;


ALTER FUNCTION public.normalize_kategori() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: absensi; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.absensi (
    id_absensi integer NOT NULL,
    id_santri integer,
    id_jadwal integer,
    tanggal date NOT NULL,
    status_absensi character varying(10),
    catatan text,
    id_kelas integer,
    CONSTRAINT absensi_status_absensi_check CHECK (((status_absensi)::text = ANY ((ARRAY['Hadir'::character varying, 'Izin'::character varying, 'Sakit'::character varying, 'Alpha'::character varying, 'Mustamiah'::character varying])::text[])))
);


ALTER TABLE public.absensi OWNER TO postgres;

--
-- Name: absensi_id_absensi_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.absensi_id_absensi_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.absensi_id_absensi_seq OWNER TO postgres;

--
-- Name: absensi_id_absensi_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.absensi_id_absensi_seq OWNED BY public.absensi.id_absensi;


--
-- Name: absensi_pengajar; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.absensi_pengajar (
    id_absensi_pengajar integer NOT NULL,
    id_pengajar integer,
    id_jadwal integer,
    tanggal date NOT NULL,
    status_absensi character varying(10),
    catatan text,
    CONSTRAINT absensi_pengajar_status_absensi_check CHECK (((status_absensi)::text = ANY ((ARRAY['Hadir'::character varying, 'Izin'::character varying, 'tidak hadir'::character varying])::text[])))
);


ALTER TABLE public.absensi_pengajar OWNER TO postgres;

--
-- Name: absensi_pengajar_id_absensi_pengajar_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.absensi_pengajar_id_absensi_pengajar_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.absensi_pengajar_id_absensi_pengajar_seq OWNER TO postgres;

--
-- Name: absensi_pengajar_id_absensi_pengajar_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.absensi_pengajar_id_absensi_pengajar_seq OWNED BY public.absensi_pengajar.id_absensi_pengajar;


--
-- Name: admin; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admin (
    id_admin integer NOT NULL,
    id_users integer,
    nama character varying(255),
    email character varying(255),
    no_wa character varying(20),
    foto character varying(255)
);


ALTER TABLE public.admin OWNER TO postgres;

--
-- Name: admin_id_admin_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.admin_id_admin_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.admin_id_admin_seq OWNER TO postgres;

--
-- Name: admin_id_admin_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.admin_id_admin_seq OWNED BY public.admin.id_admin;


--
-- Name: announcement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.announcement (
    id integer NOT NULL,
    tanggal date NOT NULL,
    isi text NOT NULL,
    id_pengajar integer
);


ALTER TABLE public.announcement OWNER TO postgres;

--
-- Name: announcement_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.announcement_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.announcement_id_seq OWNER TO postgres;

--
-- Name: announcement_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.announcement_id_seq OWNED BY public.announcement.id;


--
-- Name: billing_santri; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.billing_santri (
    id_billing integer NOT NULL,
    id_santri integer,
    jenis character varying(100),
    tipe character varying(50) NOT NULL,
    periode character varying(50),
    nominal integer NOT NULL,
    sisa integer NOT NULL,
    status character varying(20) DEFAULT 'belum bayar'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    tanggal_mulai date,
    tanggal_selesai date,
    keterangan text,
    id_jadwal integer,
    CONSTRAINT check_status_lower CHECK (((status)::text = lower((status)::text)))
);


ALTER TABLE public.billing_santri OWNER TO postgres;

--
-- Name: billing_santri_id_billing_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.billing_santri_id_billing_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.billing_santri_id_billing_seq OWNER TO postgres;

--
-- Name: billing_santri_id_billing_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.billing_santri_id_billing_seq OWNED BY public.billing_santri.id_billing;


--
-- Name: infaq; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.infaq (
    id_infaq integer NOT NULL,
    nama_pembayaran character varying(100),
    tanggal date NOT NULL,
    nominal bigint NOT NULL,
    keterangan text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.infaq OWNER TO postgres;

--
-- Name: infaq_id_infaq_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.infaq_id_infaq_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.infaq_id_infaq_seq OWNER TO postgres;

--
-- Name: infaq_id_infaq_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.infaq_id_infaq_seq OWNED BY public.infaq.id_infaq;


--
-- Name: jadwal; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.jadwal (
    id_jadwal integer NOT NULL,
    id_kelas integer,
    id_pengajar integer,
    hari character varying(20) NOT NULL,
    jam_mulai time without time zone NOT NULL,
    jam_selesai time without time zone NOT NULL,
    lokasi character varying(100),
    kategori character varying(50),
    status character varying(20) DEFAULT 'aktif'::character varying,
    kapasitas integer
);


ALTER TABLE public.jadwal OWNER TO postgres;

--
-- Name: jadwal_id_jadwal_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.jadwal_id_jadwal_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.jadwal_id_jadwal_seq OWNER TO postgres;

--
-- Name: jadwal_id_jadwal_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.jadwal_id_jadwal_seq OWNED BY public.jadwal.id_jadwal;


--
-- Name: kelas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.kelas (
    id_kelas integer NOT NULL,
    id_program integer,
    nama_kelas character varying(100),
    kategori character varying(20) NOT NULL,
    status character varying(20) DEFAULT 'aktif'::character varying
);


ALTER TABLE public.kelas OWNER TO postgres;

--
-- Name: kelas_id_kelas_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.kelas_id_kelas_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.kelas_id_kelas_seq OWNER TO postgres;

--
-- Name: kelas_id_kelas_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.kelas_id_kelas_seq OWNED BY public.kelas.id_kelas;


--
-- Name: materi_ajar; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.materi_ajar (
    id_materi integer NOT NULL,
    id_kelas integer NOT NULL,
    judul character varying(255) NOT NULL,
    deskripsi text,
    tipe_file character varying(20),
    file_path text,
    tipe_konten character varying(20) DEFAULT 'file'::character varying,
    link_url text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    id_pengajar integer,
    id_jadwal integer
);


ALTER TABLE public.materi_ajar OWNER TO postgres;

--
-- Name: materi_ajar_id_materi_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.materi_ajar_id_materi_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.materi_ajar_id_materi_seq OWNER TO postgres;

--
-- Name: materi_ajar_id_materi_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.materi_ajar_id_materi_seq OWNED BY public.materi_ajar.id_materi;


--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.password_reset_tokens (
    id integer NOT NULL,
    id_users integer,
    token character varying(255),
    expired_at timestamp without time zone
);


ALTER TABLE public.password_reset_tokens OWNER TO postgres;

--
-- Name: password_reset_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.password_reset_tokens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.password_reset_tokens_id_seq OWNER TO postgres;

--
-- Name: password_reset_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.password_reset_tokens_id_seq OWNED BY public.password_reset_tokens.id;


--
-- Name: pembayaran; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pembayaran (
    id_pembayaran integer NOT NULL,
    id_billing integer,
    tanggal_bayar date,
    jumlah_bayar integer NOT NULL,
    metode character varying(50),
    kategori character varying(50) NOT NULL,
    status character varying(20) DEFAULT 'menunggu'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    jenis_pembayaran character varying(50),
    sumber character varying(20),
    id_santri integer,
    CONSTRAINT check_pembayaran_status_lower CHECK (((status)::text = lower((status)::text)))
);


ALTER TABLE public.pembayaran OWNER TO postgres;

--
-- Name: pembayaran_id_pembayaran_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pembayaran_id_pembayaran_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pembayaran_id_pembayaran_seq OWNER TO postgres;

--
-- Name: pembayaran_id_pembayaran_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pembayaran_id_pembayaran_seq OWNED BY public.pembayaran.id_pembayaran;


--
-- Name: pendaftar; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pendaftar (
    id_pendaftar integer NOT NULL,
    id_users integer,
    nama character varying(255) NOT NULL,
    tempat_lahir character varying(100),
    tanggal_lahir date,
    email character varying(255) NOT NULL,
    no_wa character varying(20),
    alamat text,
    status character varying(20) DEFAULT 'menunggu'::character varying
);


ALTER TABLE public.pendaftar OWNER TO postgres;

--
-- Name: pendaftar_id_pendaftar_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pendaftar_id_pendaftar_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pendaftar_id_pendaftar_seq OWNER TO postgres;

--
-- Name: pendaftar_id_pendaftar_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pendaftar_id_pendaftar_seq OWNED BY public.pendaftar.id_pendaftar;


--
-- Name: pengajar; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pengajar (
    id_pengajar integer NOT NULL,
    id_users integer,
    nama character varying(255) NOT NULL,
    no_kontak character varying(30),
    alamat text,
    status character varying(20) DEFAULT 'aktif'::character varying,
    tempat_lahir character varying(150),
    tanggal_lahir date,
    mapel character varying(255),
    email character varying(255),
    nip character varying(255),
    tanggal_terdaftar character varying(255)
);


ALTER TABLE public.pengajar OWNER TO postgres;

--
-- Name: pengajar_id_pengajar_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pengajar_id_pengajar_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pengajar_id_pengajar_seq OWNER TO postgres;

--
-- Name: pengajar_id_pengajar_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pengajar_id_pengajar_seq OWNED BY public.pengajar.id_pengajar;


--
-- Name: pengeluaran; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pengeluaran (
    id_pengeluaran integer NOT NULL,
    tanggal date,
    kategori character varying(50),
    nominal integer,
    keterangan text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.pengeluaran OWNER TO postgres;

--
-- Name: pengeluaran_id_pengeluaran_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pengeluaran_id_pengeluaran_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pengeluaran_id_pengeluaran_seq OWNER TO postgres;

--
-- Name: pengeluaran_id_pengeluaran_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pengeluaran_id_pengeluaran_seq OWNED BY public.pengeluaran.id_pengeluaran;


--
-- Name: pengumpulan_tugas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pengumpulan_tugas (
    id_pengumpulan integer NOT NULL,
    id_tugas integer NOT NULL,
    id_santri integer NOT NULL,
    file_path text,
    tipe_konten character varying(20) DEFAULT 'file'::character varying,
    link_url text,
    submitted_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    nilai integer,
    jawaban_teks text,
    catatan_pengajar text
);


ALTER TABLE public.pengumpulan_tugas OWNER TO postgres;

--
-- Name: pengumpulan_tugas_id_pengumpulan_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pengumpulan_tugas_id_pengumpulan_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pengumpulan_tugas_id_pengumpulan_seq OWNER TO postgres;

--
-- Name: pengumpulan_tugas_id_pengumpulan_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pengumpulan_tugas_id_pengumpulan_seq OWNED BY public.pengumpulan_tugas.id_pengumpulan;


--
-- Name: program; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.program (
    id_program integer NOT NULL,
    nama_program character varying(100) NOT NULL,
    deskripsi text
);


ALTER TABLE public.program OWNER TO postgres;

--
-- Name: program_id_program_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.program_id_program_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.program_id_program_seq OWNER TO postgres;

--
-- Name: program_id_program_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.program_id_program_seq OWNED BY public.program.id_program;


--
-- Name: progres_pembelajaran; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.progres_pembelajaran (
    id_progres integer NOT NULL,
    id_santri integer NOT NULL,
    id_kelas integer NOT NULL,
    minggu_ke integer NOT NULL,
    catatan text NOT NULL,
    nilai integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.progres_pembelajaran OWNER TO postgres;

--
-- Name: progres_pembelajaran_id_progres_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.progres_pembelajaran_id_progres_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.progres_pembelajaran_id_progres_seq OWNER TO postgres;

--
-- Name: progres_pembelajaran_id_progres_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.progres_pembelajaran_id_progres_seq OWNED BY public.progres_pembelajaran.id_progres;


--
-- Name: rapor_tahfidz; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rapor_tahfidz (
    id_rapor integer NOT NULL,
    id_santri integer NOT NULL,
    id_pengajar integer NOT NULL,
    periode character varying(50) NOT NULL,
    nilai_rata_simakan numeric(5,2),
    nilai_ujian_akhir numeric(5,2),
    nilai_akhir numeric(5,2),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    predikat character varying(20),
    keterangan character varying(50),
    id_jadwal integer
);


ALTER TABLE public.rapor_tahfidz OWNER TO postgres;

--
-- Name: rapor_tahfidz_id_rapor_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rapor_tahfidz_id_rapor_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.rapor_tahfidz_id_rapor_seq OWNER TO postgres;

--
-- Name: rapor_tahfidz_id_rapor_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rapor_tahfidz_id_rapor_seq OWNED BY public.rapor_tahfidz.id_rapor;


--
-- Name: rapor_tahsin; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rapor_tahsin (
    id_rapor integer NOT NULL,
    id_santri integer NOT NULL,
    id_pengajar integer NOT NULL,
    periode character varying(50) NOT NULL,
    nilai_pekanan numeric(5,2),
    ujian_tilawah numeric(5,2),
    nilai_teori numeric(5,2),
    nilai_presensi numeric(5,2),
    nilai_akhir numeric(5,2),
    catatan text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    predikat character varying(20),
    keterangan character varying(50),
    id_jadwal integer
);


ALTER TABLE public.rapor_tahsin OWNER TO postgres;

--
-- Name: rapor_tahsin_id_rapor_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rapor_tahsin_id_rapor_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.rapor_tahsin_id_rapor_seq OWNER TO postgres;

--
-- Name: rapor_tahsin_id_rapor_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rapor_tahsin_id_rapor_seq OWNED BY public.rapor_tahsin.id_rapor;


--
-- Name: santri; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.santri (
    id_santri integer NOT NULL,
    id_users integer,
    nis character varying(50),
    nama character varying(255) NOT NULL,
    kategori character varying(20) NOT NULL,
    no_wa character varying(20),
    email character varying(255),
    tempat_lahir character varying(100),
    tanggal_lahir date,
    status character varying(20) DEFAULT 'aktif'::character varying,
    alamat text,
    tanggal_terdaftar character varying(255)
);


ALTER TABLE public.santri OWNER TO postgres;

--
-- Name: santri_id_santri_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.santri_id_santri_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.santri_id_santri_seq OWNER TO postgres;

--
-- Name: santri_id_santri_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.santri_id_santri_seq OWNED BY public.santri.id_santri;


--
-- Name: santri_jadwal; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.santri_jadwal (
    id_santri integer NOT NULL,
    id_jadwal integer NOT NULL
);


ALTER TABLE public.santri_jadwal OWNER TO postgres;

--
-- Name: santri_kelas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.santri_kelas (
    id_santri integer NOT NULL,
    id_kelas integer NOT NULL,
    tgl_gabung date DEFAULT CURRENT_DATE
);


ALTER TABLE public.santri_kelas OWNER TO postgres;

--
-- Name: tahfidz_simakan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tahfidz_simakan (
    id_simakan integer NOT NULL,
    id_rapor integer NOT NULL,
    juz integer,
    nilai numeric(5,2),
    CONSTRAINT tahfidz_simakan_juz_check CHECK (((juz >= 1) AND (juz <= 30)))
);


ALTER TABLE public.tahfidz_simakan OWNER TO postgres;

--
-- Name: tahfidz_simakan_id_simakan_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tahfidz_simakan_id_simakan_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tahfidz_simakan_id_simakan_seq OWNER TO postgres;

--
-- Name: tahfidz_simakan_id_simakan_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tahfidz_simakan_id_simakan_seq OWNED BY public.tahfidz_simakan.id_simakan;


--
-- Name: tugas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tugas (
    id_tugas integer NOT NULL,
    id_kelas integer NOT NULL,
    id_materi integer,
    id_pengajar integer NOT NULL,
    judul character varying(255),
    deskripsi text,
    deadline timestamp without time zone NOT NULL,
    tipe_tugas character varying(20) DEFAULT 'file'::character varying,
    link_url text,
    file_path text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    id_jadwal integer
);


ALTER TABLE public.tugas OWNER TO postgres;

--
-- Name: tugas_id_tugas_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tugas_id_tugas_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tugas_id_tugas_seq OWNER TO postgres;

--
-- Name: tugas_id_tugas_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tugas_id_tugas_seq OWNED BY public.tugas.id_tugas;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id_users integer NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(20) NOT NULL,
    status_user character varying(20) DEFAULT 'aktif'::character varying,
    username character varying(255)
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_users_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_users_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_users_seq OWNER TO postgres;

--
-- Name: users_id_users_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_users_seq OWNED BY public.users.id_users;


--
-- Name: absensi id_absensi; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.absensi ALTER COLUMN id_absensi SET DEFAULT nextval('public.absensi_id_absensi_seq'::regclass);


--
-- Name: absensi_pengajar id_absensi_pengajar; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.absensi_pengajar ALTER COLUMN id_absensi_pengajar SET DEFAULT nextval('public.absensi_pengajar_id_absensi_pengajar_seq'::regclass);


--
-- Name: admin id_admin; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin ALTER COLUMN id_admin SET DEFAULT nextval('public.admin_id_admin_seq'::regclass);


--
-- Name: announcement id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.announcement ALTER COLUMN id SET DEFAULT nextval('public.announcement_id_seq'::regclass);


--
-- Name: billing_santri id_billing; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.billing_santri ALTER COLUMN id_billing SET DEFAULT nextval('public.billing_santri_id_billing_seq'::regclass);


--
-- Name: infaq id_infaq; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.infaq ALTER COLUMN id_infaq SET DEFAULT nextval('public.infaq_id_infaq_seq'::regclass);


--
-- Name: jadwal id_jadwal; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jadwal ALTER COLUMN id_jadwal SET DEFAULT nextval('public.jadwal_id_jadwal_seq'::regclass);


--
-- Name: kelas id_kelas; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kelas ALTER COLUMN id_kelas SET DEFAULT nextval('public.kelas_id_kelas_seq'::regclass);


--
-- Name: materi_ajar id_materi; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.materi_ajar ALTER COLUMN id_materi SET DEFAULT nextval('public.materi_ajar_id_materi_seq'::regclass);


--
-- Name: password_reset_tokens id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens ALTER COLUMN id SET DEFAULT nextval('public.password_reset_tokens_id_seq'::regclass);


--
-- Name: pembayaran id_pembayaran; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pembayaran ALTER COLUMN id_pembayaran SET DEFAULT nextval('public.pembayaran_id_pembayaran_seq'::regclass);


--
-- Name: pendaftar id_pendaftar; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pendaftar ALTER COLUMN id_pendaftar SET DEFAULT nextval('public.pendaftar_id_pendaftar_seq'::regclass);


--
-- Name: pengajar id_pengajar; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pengajar ALTER COLUMN id_pengajar SET DEFAULT nextval('public.pengajar_id_pengajar_seq'::regclass);


--
-- Name: pengeluaran id_pengeluaran; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pengeluaran ALTER COLUMN id_pengeluaran SET DEFAULT nextval('public.pengeluaran_id_pengeluaran_seq'::regclass);


--
-- Name: pengumpulan_tugas id_pengumpulan; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pengumpulan_tugas ALTER COLUMN id_pengumpulan SET DEFAULT nextval('public.pengumpulan_tugas_id_pengumpulan_seq'::regclass);


--
-- Name: program id_program; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.program ALTER COLUMN id_program SET DEFAULT nextval('public.program_id_program_seq'::regclass);


--
-- Name: progres_pembelajaran id_progres; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progres_pembelajaran ALTER COLUMN id_progres SET DEFAULT nextval('public.progres_pembelajaran_id_progres_seq'::regclass);


--
-- Name: rapor_tahfidz id_rapor; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rapor_tahfidz ALTER COLUMN id_rapor SET DEFAULT nextval('public.rapor_tahfidz_id_rapor_seq'::regclass);


--
-- Name: rapor_tahsin id_rapor; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rapor_tahsin ALTER COLUMN id_rapor SET DEFAULT nextval('public.rapor_tahsin_id_rapor_seq'::regclass);


--
-- Name: santri id_santri; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.santri ALTER COLUMN id_santri SET DEFAULT nextval('public.santri_id_santri_seq'::regclass);


--
-- Name: tahfidz_simakan id_simakan; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tahfidz_simakan ALTER COLUMN id_simakan SET DEFAULT nextval('public.tahfidz_simakan_id_simakan_seq'::regclass);


--
-- Name: tugas id_tugas; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tugas ALTER COLUMN id_tugas SET DEFAULT nextval('public.tugas_id_tugas_seq'::regclass);


--
-- Name: users id_users; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id_users SET DEFAULT nextval('public.users_id_users_seq'::regclass);


--
-- Data for Name: absensi; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.absensi (id_absensi, id_santri, id_jadwal, tanggal, status_absensi, catatan, id_kelas) FROM stdin;
22	12	19	2026-02-21	Hadir		\N
\.


--
-- Data for Name: absensi_pengajar; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.absensi_pengajar (id_absensi_pengajar, id_pengajar, id_jadwal, tanggal, status_absensi, catatan) FROM stdin;
12	1	19	2026-02-21	Hadir	Absensi pengajar: Hadir
\.


--
-- Data for Name: admin; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.admin (id_admin, id_users, nama, email, no_wa, foto) FROM stdin;
2	2	Admin2	admin2@ysq.com	\N	\N
3	3	Admin3	admin3@ysq.com	\N	\N
1	1	Admin	sabrinafitri593@gmail.com	08881415900	\N
4	5	Admin5	admin5@ysq.com	\N	\N
\.


--
-- Data for Name: announcement; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.announcement (id, tanggal, isi, id_pengajar) FROM stdin;
\.


--
-- Data for Name: billing_santri; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: infaq; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.infaq (id_infaq, nama_pembayaran, tanggal, nominal, keterangan, created_at) FROM stdin;
\.


--
-- Data for Name: jadwal; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.jadwal (id_jadwal, id_kelas, id_pengajar, hari, jam_mulai, jam_selesai, lokasi, kategori, status, kapasitas) FROM stdin;
18	23	13	Senin	08:00:00	09:00:00	\N	\N	aktif	10
19	23	1	Senin	12:00:00	13:00:00	\N	\N	aktif	10
20	22	1	Rabu	09:00:00	11:00:00	\N	\N	aktif	8
\.


--
-- Data for Name: kelas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.kelas (id_kelas, id_program, nama_kelas, kategori, status) FROM stdin;
22	\N	tahfidz	Dewasa	aktif
10	\N	ngaji	Dewasa	aktif
23	\N	tahsin quran1	Dewasa	aktif
\.


--
-- Data for Name: materi_ajar; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.materi_ajar (id_materi, id_kelas, judul, deskripsi, tipe_file, file_path, tipe_konten, link_url, created_at, id_pengajar, id_jadwal) FROM stdin;
31	10	ngaji	-	materi	\N	link	\N	2026-01-15 07:00:00	1	\N
32	23	bisa		materi	\N	link	\N	2026-02-21 07:00:00	1	\N
33	22	ngaji	bisa	materi	\N	link	http://localhost:8000/dashboard/pengajar/materi-ajar	2026-02-21 07:00:00	1	\N
34	22	materi	bisa	materi	\N	link	http://localhost:8000/dashboard/pengajar/materi-ajar	2026-02-21 07:00:00	1	20
\.


--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.password_reset_tokens (id, id_users, token, expired_at) FROM stdin;
\.


--
-- Data for Name: pembayaran; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pendaftar; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pendaftar (id_pendaftar, id_users, nama, tempat_lahir, tanggal_lahir, email, no_wa, alamat, status) FROM stdin;
11	17	santri1	bogor	2007-10-10	santri@ysq.com	089484758595	dramaga	diterima
12	18	santri2	bogor	2008-10-10	santri2@ysq.com	0812345678	bogor	diterima
14	\N	RAHMA FITRIA TUNNISA	bogor	2006-10-10	rahmafitriatunnisa@gmail.com	089484758595	dramaga	ditolak
24	34	contoh 2	bogor	2006-10-10	contoh@gmail.com	089484758595	dramaga	diterima
25	35	contoh1	bogor	2007-10-10	contoh1@ysq.com	-	perumahan Kirana Cibitung	diterima
\.


--
-- Data for Name: pengajar; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pengajar (id_pengajar, id_users, nama, no_kontak, alamat, status, tempat_lahir, tanggal_lahir, mapel, email, nip, tanggal_terdaftar) FROM stdin;
1	5	riska1	089876543210	bogor	aktif	\N	2006-10-08	\N	pengajar1@ysq.com	YSQ25PGJ001	2025-12-23 09:23:54.387074+00
4	22	rahma	-	bogor	nonaktif	\N	2000-10-09	\N	nisa@gmail.com	YSQ26PGJ002	2026-01-11 12:18:19.99898+00
13	44	Yola Wibawati	89634283687	Cibinong	aktif	\N	\N	Tilawah	\N	YSQ26PGJ023	2026-02-21
\.


--
-- Data for Name: pengeluaran; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pengeluaran (id_pengeluaran, tanggal, kategori, nominal, keterangan, created_at) FROM stdin;
7	2026-02-19	Khafalah Guru	100000	gaji pengajar	2026-02-19 22:16:41.46544
8	2026-02-19	Biaya Listrik	80000	listrik lampu	2026-02-19 22:17:12.573328
\.


--
-- Data for Name: pengumpulan_tugas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pengumpulan_tugas (id_pengumpulan, id_tugas, id_santri, file_path, tipe_konten, link_url, submitted_at, nilai, jawaban_teks, catatan_pengajar) FROM stdin;
15	28	11	\N	file	https://drive.google.com/drive/folders/16__AY0fuUWmB-jmiRdxWf0Mwru0cL2AS?usp=sharing	2026-01-15 21:59:57	\N	bisa	\N
16	29	12	\N	file	http://localhost:8000/dashboard/pengajar/materi-ajar	2026-02-21 12:11:08	\N	bisa	\N
17	31	12	\N	file	http://localhost:8000/dashboard/pengajar/materi-ajar	2026-02-22 05:32:15	\N	bisa	\N
\.


--
-- Data for Name: program; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.program (id_program, nama_program, deskripsi) FROM stdin;
\.


--
-- Data for Name: progres_pembelajaran; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.progres_pembelajaran (id_progres, id_santri, id_kelas, minggu_ke, catatan, nilai, created_at) FROM stdin;
\.


--
-- Data for Name: rapor_tahfidz; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rapor_tahfidz (id_rapor, id_santri, id_pengajar, periode, nilai_rata_simakan, nilai_ujian_akhir, nilai_akhir, created_at, predikat, keterangan, id_jadwal) FROM stdin;
8	12	1	Genap 2025/2026	95.00	89.00	92.00	2026-02-22 22:03:47.961155	Mumtaz	Istimewa	20
\.


--
-- Data for Name: rapor_tahsin; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rapor_tahsin (id_rapor, id_santri, id_pengajar, periode, nilai_pekanan, ujian_tilawah, nilai_teori, nilai_presensi, nilai_akhir, catatan, created_at, predikat, keterangan, id_jadwal) FROM stdin;
20	12	1	Ganjil 2025/2026	90.00	90.00	90.00	90.00	89.00	bisa	2026-02-21 23:24:26.708145	Jayyid Jiddan	Sangat Baik	20
21	12	1	Genap 2025/2026	90.00	89.00	87.00	87.00	78.00	bisa	2026-02-22 21:40:02.702999	Jayyid	Baik	20
22	11	1	Ganjil 2025/2026	90.00	87.00	89.00	78.00	98.00		2026-02-23 22:01:48.91382	Mumtaz	Istimewa	19
\.


--
-- Data for Name: santri; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: santri_jadwal; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.santri_jadwal (id_santri, id_jadwal) FROM stdin;
12	20
11	19
24	19
\.


--
-- Data for Name: santri_kelas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.santri_kelas (id_santri, id_kelas, tgl_gabung) FROM stdin;
\.


--
-- Data for Name: tahfidz_simakan; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tahfidz_simakan (id_simakan, id_rapor, juz, nilai) FROM stdin;
5	8	1	90.00
6	8	9	100.00
\.


--
-- Data for Name: tugas; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: absensi_id_absensi_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.absensi_id_absensi_seq', 22, true);


--
-- Name: absensi_pengajar_id_absensi_pengajar_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.absensi_pengajar_id_absensi_pengajar_seq', 12, true);


--
-- Name: admin_id_admin_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.admin_id_admin_seq', 4, true);


--
-- Name: announcement_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.announcement_id_seq', 2, true);


--
-- Name: billing_santri_id_billing_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.billing_santri_id_billing_seq', 56, true);


--
-- Name: infaq_id_infaq_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.infaq_id_infaq_seq', 1, false);


--
-- Name: jadwal_id_jadwal_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.jadwal_id_jadwal_seq', 20, true);


--
-- Name: kelas_id_kelas_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.kelas_id_kelas_seq', 23, true);


--
-- Name: materi_ajar_id_materi_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.materi_ajar_id_materi_seq', 34, true);


--
-- Name: password_reset_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.password_reset_tokens_id_seq', 3, true);


--
-- Name: pembayaran_id_pembayaran_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pembayaran_id_pembayaran_seq', 44, true);


--
-- Name: pendaftar_id_pendaftar_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pendaftar_id_pendaftar_seq', 25, true);


--
-- Name: pengajar_id_pengajar_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pengajar_id_pengajar_seq', 13, true);


--
-- Name: pengeluaran_id_pengeluaran_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pengeluaran_id_pengeluaran_seq', 8, true);


--
-- Name: pengumpulan_tugas_id_pengumpulan_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pengumpulan_tugas_id_pengumpulan_seq', 17, true);


--
-- Name: program_id_program_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.program_id_program_seq', 1, false);


--
-- Name: progres_pembelajaran_id_progres_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.progres_pembelajaran_id_progres_seq', 1, false);


--
-- Name: rapor_tahfidz_id_rapor_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rapor_tahfidz_id_rapor_seq', 10, true);


--
-- Name: rapor_tahsin_id_rapor_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rapor_tahsin_id_rapor_seq', 22, true);


--
-- Name: santri_id_santri_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.santri_id_santri_seq', 24, true);


--
-- Name: tahfidz_simakan_id_simakan_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tahfidz_simakan_id_simakan_seq', 8, true);


--
-- Name: tugas_id_tugas_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tugas_id_tugas_seq', 31, true);


--
-- Name: users_id_users_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_users_seq', 44, true);


--
-- Name: absensi_pengajar absensi_pengajar_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.absensi_pengajar
    ADD CONSTRAINT absensi_pengajar_pkey PRIMARY KEY (id_absensi_pengajar);


--
-- Name: absensi absensi_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.absensi
    ADD CONSTRAINT absensi_pkey PRIMARY KEY (id_absensi);


--
-- Name: admin admin_id_users_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin
    ADD CONSTRAINT admin_id_users_key UNIQUE (id_users);


--
-- Name: admin admin_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin
    ADD CONSTRAINT admin_pkey PRIMARY KEY (id_admin);


--
-- Name: announcement announcement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.announcement
    ADD CONSTRAINT announcement_pkey PRIMARY KEY (id);


--
-- Name: billing_santri billing_santri_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.billing_santri
    ADD CONSTRAINT billing_santri_pkey PRIMARY KEY (id_billing);


--
-- Name: infaq infaq_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.infaq
    ADD CONSTRAINT infaq_pkey PRIMARY KEY (id_infaq);


--
-- Name: jadwal jadwal_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jadwal
    ADD CONSTRAINT jadwal_pkey PRIMARY KEY (id_jadwal);


--
-- Name: kelas kelas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kelas
    ADD CONSTRAINT kelas_pkey PRIMARY KEY (id_kelas);


--
-- Name: materi_ajar materi_ajar_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.materi_ajar
    ADD CONSTRAINT materi_ajar_pkey PRIMARY KEY (id_materi);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_token_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_token_key UNIQUE (token);


--
-- Name: pembayaran pembayaran_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pembayaran
    ADD CONSTRAINT pembayaran_pkey PRIMARY KEY (id_pembayaran);


--
-- Name: pendaftar pendaftar_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pendaftar
    ADD CONSTRAINT pendaftar_pkey PRIMARY KEY (id_pendaftar);


--
-- Name: pengajar pengajar_id_users_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pengajar
    ADD CONSTRAINT pengajar_id_users_key UNIQUE (id_users);


--
-- Name: pengajar pengajar_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pengajar
    ADD CONSTRAINT pengajar_pkey PRIMARY KEY (id_pengajar);


--
-- Name: pengeluaran pengeluaran_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pengeluaran
    ADD CONSTRAINT pengeluaran_pkey PRIMARY KEY (id_pengeluaran);


--
-- Name: pengumpulan_tugas pengumpulan_tugas_id_tugas_id_santri_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pengumpulan_tugas
    ADD CONSTRAINT pengumpulan_tugas_id_tugas_id_santri_key UNIQUE (id_tugas, id_santri);


--
-- Name: pengumpulan_tugas pengumpulan_tugas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pengumpulan_tugas
    ADD CONSTRAINT pengumpulan_tugas_pkey PRIMARY KEY (id_pengumpulan);


--
-- Name: program program_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.program
    ADD CONSTRAINT program_pkey PRIMARY KEY (id_program);


--
-- Name: progres_pembelajaran progres_pembelajaran_id_santri_id_kelas_minggu_ke_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progres_pembelajaran
    ADD CONSTRAINT progres_pembelajaran_id_santri_id_kelas_minggu_ke_key UNIQUE (id_santri, id_kelas, minggu_ke);


--
-- Name: progres_pembelajaran progres_pembelajaran_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progres_pembelajaran
    ADD CONSTRAINT progres_pembelajaran_pkey PRIMARY KEY (id_progres);


--
-- Name: rapor_tahfidz rapor_tahfidz_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rapor_tahfidz
    ADD CONSTRAINT rapor_tahfidz_pkey PRIMARY KEY (id_rapor);


--
-- Name: rapor_tahsin rapor_tahsin_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rapor_tahsin
    ADD CONSTRAINT rapor_tahsin_pkey PRIMARY KEY (id_rapor);


--
-- Name: santri santri_id_users_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.santri
    ADD CONSTRAINT santri_id_users_key UNIQUE (id_users);


--
-- Name: santri_jadwal santri_jadwal_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.santri_jadwal
    ADD CONSTRAINT santri_jadwal_pkey PRIMARY KEY (id_santri, id_jadwal);


--
-- Name: santri_kelas santri_kelas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.santri_kelas
    ADD CONSTRAINT santri_kelas_pkey PRIMARY KEY (id_santri, id_kelas);


--
-- Name: santri santri_nis_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.santri
    ADD CONSTRAINT santri_nis_key UNIQUE (nis);


--
-- Name: santri santri_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.santri
    ADD CONSTRAINT santri_pkey PRIMARY KEY (id_santri);


--
-- Name: tahfidz_simakan tahfidz_simakan_id_rapor_juz_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tahfidz_simakan
    ADD CONSTRAINT tahfidz_simakan_id_rapor_juz_key UNIQUE (id_rapor, juz);


--
-- Name: tahfidz_simakan tahfidz_simakan_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tahfidz_simakan
    ADD CONSTRAINT tahfidz_simakan_pkey PRIMARY KEY (id_simakan);


--
-- Name: tugas tugas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tugas
    ADD CONSTRAINT tugas_pkey PRIMARY KEY (id_tugas);


--
-- Name: billing_santri unique_billing; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.billing_santri
    ADD CONSTRAINT unique_billing UNIQUE (id_santri, tipe, tanggal_mulai);


--
-- Name: announcement unique_date_teacher; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.announcement
    ADD CONSTRAINT unique_date_teacher UNIQUE (tanggal, id_pengajar);


--
-- Name: rapor_tahfidz unique_rapor_tahfidz; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rapor_tahfidz
    ADD CONSTRAINT unique_rapor_tahfidz UNIQUE (id_santri, id_jadwal, periode);


--
-- Name: rapor_tahfidz unique_rapor_tahfidz_sesi; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rapor_tahfidz
    ADD CONSTRAINT unique_rapor_tahfidz_sesi UNIQUE (id_santri, id_jadwal, periode);


--
-- Name: rapor_tahsin unique_rapor_tahsin; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rapor_tahsin
    ADD CONSTRAINT unique_rapor_tahsin UNIQUE (id_santri, id_jadwal, periode);


--
-- Name: rapor_tahsin unique_rapor_tahsin_sesi; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rapor_tahsin
    ADD CONSTRAINT unique_rapor_tahsin_sesi UNIQUE (id_santri, id_jadwal, periode);


--
-- Name: billing_santri unique_spp_periode; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.billing_santri
    ADD CONSTRAINT unique_spp_periode UNIQUE (id_santri, jenis, periode);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id_users);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: jadwal trg_jadwal_kategori; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_jadwal_kategori BEFORE INSERT OR UPDATE ON public.jadwal FOR EACH ROW EXECUTE FUNCTION public.normalize_kategori();


--
-- Name: kelas trg_normalize_kategori_kelas; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_normalize_kategori_kelas BEFORE INSERT OR UPDATE ON public.kelas FOR EACH ROW EXECUTE FUNCTION public.normalize_kategori();


--
-- Name: santri trg_normalize_kategori_santri; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_normalize_kategori_santri BEFORE INSERT OR UPDATE ON public.santri FOR EACH ROW EXECUTE FUNCTION public.normalize_kategori();


--
-- Name: absensi absensi_id_jadwal_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.absensi
    ADD CONSTRAINT absensi_id_jadwal_fkey FOREIGN KEY (id_jadwal) REFERENCES public.jadwal(id_jadwal) ON DELETE CASCADE;


--
-- Name: absensi absensi_id_santri_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.absensi
    ADD CONSTRAINT absensi_id_santri_fkey FOREIGN KEY (id_santri) REFERENCES public.santri(id_santri) ON DELETE CASCADE;


--
-- Name: absensi_pengajar absensi_pengajar_id_jadwal_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.absensi_pengajar
    ADD CONSTRAINT absensi_pengajar_id_jadwal_fkey FOREIGN KEY (id_jadwal) REFERENCES public.jadwal(id_jadwal) ON DELETE CASCADE;


--
-- Name: absensi_pengajar absensi_pengajar_id_pengajar_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.absensi_pengajar
    ADD CONSTRAINT absensi_pengajar_id_pengajar_fkey FOREIGN KEY (id_pengajar) REFERENCES public.pengajar(id_pengajar);


--
-- Name: admin admin_id_users_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin
    ADD CONSTRAINT admin_id_users_fkey FOREIGN KEY (id_users) REFERENCES public.users(id_users) ON DELETE CASCADE;


--
-- Name: billing_santri billing_santri_id_jadwal_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.billing_santri
    ADD CONSTRAINT billing_santri_id_jadwal_fkey FOREIGN KEY (id_jadwal) REFERENCES public.jadwal(id_jadwal) ON DELETE SET NULL;


--
-- Name: billing_santri billing_santri_id_santri_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.billing_santri
    ADD CONSTRAINT billing_santri_id_santri_fkey FOREIGN KEY (id_santri) REFERENCES public.santri(id_santri);


--
-- Name: jadwal jadwal_id_kelas_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jadwal
    ADD CONSTRAINT jadwal_id_kelas_fkey FOREIGN KEY (id_kelas) REFERENCES public.kelas(id_kelas) ON DELETE CASCADE;


--
-- Name: jadwal jadwal_id_pengajar_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.jadwal
    ADD CONSTRAINT jadwal_id_pengajar_fkey FOREIGN KEY (id_pengajar) REFERENCES public.pengajar(id_pengajar) ON DELETE SET NULL;


--
-- Name: kelas kelas_id_program_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.kelas
    ADD CONSTRAINT kelas_id_program_fkey FOREIGN KEY (id_program) REFERENCES public.program(id_program);


--
-- Name: materi_ajar materi_ajar_id_jadwal_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.materi_ajar
    ADD CONSTRAINT materi_ajar_id_jadwal_fkey FOREIGN KEY (id_jadwal) REFERENCES public.jadwal(id_jadwal);


--
-- Name: materi_ajar materi_ajar_id_kelas_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.materi_ajar
    ADD CONSTRAINT materi_ajar_id_kelas_fkey FOREIGN KEY (id_kelas) REFERENCES public.kelas(id_kelas) ON DELETE CASCADE;


--
-- Name: materi_ajar materi_ajar_id_pengajar_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.materi_ajar
    ADD CONSTRAINT materi_ajar_id_pengajar_fkey FOREIGN KEY (id_pengajar) REFERENCES public.pengajar(id_pengajar);


--
-- Name: password_reset_tokens password_reset_tokens_id_users_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_id_users_fkey FOREIGN KEY (id_users) REFERENCES public.users(id_users) ON DELETE CASCADE;


--
-- Name: pembayaran pembayaran_id_santri_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pembayaran
    ADD CONSTRAINT pembayaran_id_santri_fkey FOREIGN KEY (id_santri) REFERENCES public.santri(id_santri);


--
-- Name: pengajar pengajar_id_users_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pengajar
    ADD CONSTRAINT pengajar_id_users_fkey FOREIGN KEY (id_users) REFERENCES public.users(id_users) ON DELETE CASCADE;


--
-- Name: pengumpulan_tugas pengumpulan_tugas_id_santri_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pengumpulan_tugas
    ADD CONSTRAINT pengumpulan_tugas_id_santri_fkey FOREIGN KEY (id_santri) REFERENCES public.santri(id_santri) ON DELETE CASCADE;


--
-- Name: progres_pembelajaran progres_pembelajaran_id_kelas_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progres_pembelajaran
    ADD CONSTRAINT progres_pembelajaran_id_kelas_fkey FOREIGN KEY (id_kelas) REFERENCES public.kelas(id_kelas) ON DELETE CASCADE;


--
-- Name: progres_pembelajaran progres_pembelajaran_id_santri_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.progres_pembelajaran
    ADD CONSTRAINT progres_pembelajaran_id_santri_fkey FOREIGN KEY (id_santri) REFERENCES public.santri(id_santri) ON DELETE CASCADE;


--
-- Name: rapor_tahfidz rapor_tahfidz_id_jadwal_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rapor_tahfidz
    ADD CONSTRAINT rapor_tahfidz_id_jadwal_fkey FOREIGN KEY (id_jadwal) REFERENCES public.jadwal(id_jadwal) ON DELETE CASCADE;


--
-- Name: rapor_tahfidz rapor_tahfidz_id_pengajar_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rapor_tahfidz
    ADD CONSTRAINT rapor_tahfidz_id_pengajar_fkey FOREIGN KEY (id_pengajar) REFERENCES public.pengajar(id_pengajar);


--
-- Name: rapor_tahfidz rapor_tahfidz_id_santri_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rapor_tahfidz
    ADD CONSTRAINT rapor_tahfidz_id_santri_fkey FOREIGN KEY (id_santri) REFERENCES public.santri(id_santri);


--
-- Name: rapor_tahsin rapor_tahsin_id_jadwal_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rapor_tahsin
    ADD CONSTRAINT rapor_tahsin_id_jadwal_fkey FOREIGN KEY (id_jadwal) REFERENCES public.jadwal(id_jadwal) ON DELETE CASCADE;


--
-- Name: rapor_tahsin rapor_tahsin_id_pengajar_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rapor_tahsin
    ADD CONSTRAINT rapor_tahsin_id_pengajar_fkey FOREIGN KEY (id_pengajar) REFERENCES public.pengajar(id_pengajar);


--
-- Name: rapor_tahsin rapor_tahsin_id_santri_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rapor_tahsin
    ADD CONSTRAINT rapor_tahsin_id_santri_fkey FOREIGN KEY (id_santri) REFERENCES public.santri(id_santri);


--
-- Name: santri santri_id_users_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.santri
    ADD CONSTRAINT santri_id_users_fkey FOREIGN KEY (id_users) REFERENCES public.users(id_users) ON DELETE CASCADE;


--
-- Name: santri_jadwal santri_jadwal_id_jadwal_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.santri_jadwal
    ADD CONSTRAINT santri_jadwal_id_jadwal_fkey FOREIGN KEY (id_jadwal) REFERENCES public.jadwal(id_jadwal) ON DELETE CASCADE;


--
-- Name: santri_jadwal santri_jadwal_id_santri_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.santri_jadwal
    ADD CONSTRAINT santri_jadwal_id_santri_fkey FOREIGN KEY (id_santri) REFERENCES public.santri(id_santri) ON DELETE CASCADE;


--
-- Name: santri_kelas santri_kelas_id_kelas_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.santri_kelas
    ADD CONSTRAINT santri_kelas_id_kelas_fkey FOREIGN KEY (id_kelas) REFERENCES public.kelas(id_kelas) ON DELETE CASCADE;


--
-- Name: santri_kelas santri_kelas_id_santri_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.santri_kelas
    ADD CONSTRAINT santri_kelas_id_santri_fkey FOREIGN KEY (id_santri) REFERENCES public.santri(id_santri) ON DELETE CASCADE;


--
-- Name: tahfidz_simakan tahfidz_simakan_id_rapor_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tahfidz_simakan
    ADD CONSTRAINT tahfidz_simakan_id_rapor_fkey FOREIGN KEY (id_rapor) REFERENCES public.rapor_tahfidz(id_rapor);


--
-- Name: tugas tugas_id_jadwal_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tugas
    ADD CONSTRAINT tugas_id_jadwal_fkey FOREIGN KEY (id_jadwal) REFERENCES public.jadwal(id_jadwal);


--
-- Name: tugas tugas_id_kelas_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tugas
    ADD CONSTRAINT tugas_id_kelas_fkey FOREIGN KEY (id_kelas) REFERENCES public.kelas(id_kelas) ON DELETE CASCADE;


--
-- Name: tugas tugas_id_materi_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tugas
    ADD CONSTRAINT tugas_id_materi_fkey FOREIGN KEY (id_materi) REFERENCES public.materi_ajar(id_materi) ON DELETE CASCADE;


--
-- Name: tugas tugas_id_pengajar_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tugas
    ADD CONSTRAINT tugas_id_pengajar_fkey FOREIGN KEY (id_pengajar) REFERENCES public.pengajar(id_pengajar);


--
-- PostgreSQL database dump complete
--

\unrestrict nVftiIKGDp5v6kAAB4qiU5eOAbAtiR2T1C5XVsBrkiDjZYsZEF1gfNxdFtLLzmk

