services:
  backend:
    build: .
    container_name: ysq-backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
    - .:/app
    - /app/node_modules
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: ysq-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: manajemen_db
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./docker:/docker-entrypoint-initdb.d/

volumes:
  pgdata:
