<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{finance/layout}" th:with="activeTitle='Program Sedekah',activeTab='SEDEKAH'">
<head>
  <div layout:fragment="customHead">
    <title>Sahabat Quran | Program Sedekah</title>
  </div>
</head>
<body>
<div layout:fragment="content">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Program Sedekah</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
            <li class="breadcrumb-item active">Program Sedekah</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Daftar Program Sedekah</h3>
        <div class="card-tools">
          <button class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#addProgramForm">
            <i class="fas fa-plus"></i> Tambah Program
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
            <i class="fas fa-times-circle"></i>
          </button>
        </div>
      </div>

      <div class="card-body">
        <!-- Form untuk Menambah Pengajar -->
        <div id="addProgramForm" class="collapse mt-3">
          <form th:action="@{/pengajar/add}" method="post">
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="nama">Nama Program:</label>
                <input type="text" id="nama" name="nama" class="form-control" placeholder="Masukkan nama" required>
              </div>
              <div class="form-group col-md-4">
                <label for="waktu_dilaksanakan">Waktu Dilaksanakan:</label>
                <input type="time" id="waktu_dilaksanakan" name="waktu_dilaksanakan" class="form-control" placeholder="Masukkan email" required>
              </div>
            </div>
            <button type="submit" class="btn btn-success">Simpan</button>
            <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#addPengajarForm">Batal</button>
          </form>
        </div>

      <div class="card-body">
        <table class="table table-striped table-bordered table-hover mt-3">
          <thead style="background-color: #343a40; color: white;">
          <tr>
            <th>No</th>
            <th>Nama Program</th>
            <th>Waktu Dilaksanakan</th>
            <th>Total Sedekah Terkumpul</th>
            <th>Aksi</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>Program Sedekah Pagi</td>
            <td>2024-09-01</td>
            <td>Rp 2,000,000</td>
            <td class="text-center">
              <button type="button" class="btn btn-warning btn-sm" data-toggle="collapse" data-target="#editProgramSedekah">
                <i class="fas fa-edit"></i> Edit
              </button>
              <a href="/program_sedekah/delete/1" class="btn btn-danger btn-sm delete-confirmation" data-message="Apakah anda yakin ingin menghapus program ini?">
                <i class="fas fa-trash"></i> Hapus
              </a>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Program Sedekah Malam</td>
            <td>2024-09-15</td>
            <td>Rp 1,500,000</td>
            <td class="text-center">
              <button type="button" class="btn btn-warning btn-sm" data-toggle="collapse" data-target="#editProgramSedekah">
                <i class="fas fa-edit"></i> Edit
              </button>
              <a href="/program_sedekah/delete/1" class="btn btn-danger btn-sm delete-confirmation" data-message="Apakah anda yakin ingin menghapus program ini?">
                <i class="fas fa-trash"></i> Hapus
              </a>
            </td>
          </tr>
          </tbody>
        </table>

        <div id="editProgramSedekah" class="collapse mt-3">
          <form th:action="@{/program_sedekah/update}" method="post">
            <input type="hidden" name="id" value="1"> <!-- Set ID sesuai dengan pengajar yang dipilih -->
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="editNama">Nama Program:</label>
                <input type="text" id="editNama" name="nama" class="form-control" placeholder="Masukkan nama" value="" required>
              </div>
              <div class="form-group col-md-4">
                <label for="editWaktuLaksana">Waktu Dilaksakan:</label>
                <input type="time" id="editWaktuLaksana" name="editWaktuLaksana" class="form-control" placeholder="Masukkan email" value="" required>
              </div>
            <button type="submit" class="btn btn-success">Update</button>
            <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#editPengajar">Batal</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
  </section>
</div>
<div layout:fragment="customScript"></div>
</body>
</html>
