<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="sidebar">
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a th:href="@{/}" class="brand-link text-center">
            <!--            <img src="../../dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">-->
            <span id="appTitle" class="brand-text font-weight-light">Sahabat Quran</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <div class="user-panel mt-3 pb-3 mb-3 d-flex" >
                <div class="info">
                    <div class="row">
                        <a class="col-12" th:text="${nama}"></a>
                    </div>
                </div>
            </div>
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <li class="nav-item">
                        <a th:href="@{/}" class="nav-link">
                            <i class="nav-icon fas fa-home"></i>
                            <p>
                                Home
                            </p>
                        </a>
                    </li>

                    <!-- Login -->
                    <li class="nav-item">
                        <a th:href="@{/login}" class="nav-link">
                            <i class="nav-icon fas fa-sign-in-alt"></i>
                            <p>Login</p>
                        </a>
                    </li>

                    <!-- Registrasi -->
                    <li class="nav-item">
                        <a th:href="@{/register}" class="nav-link">
                            <i class="nav-icon fas fa-user-plus"></i>
                            <p>Registrasi</p>
                        </a>
                    </li>

                    <!-- Admin -->
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-user-shield"></i>
                            <p>
                                Admin
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a th:href="@{/admin/data-pengajar}" class="nav-link">
                                    <i class="nav-icon fas fa-user"></i>
                                    <p>Data Pengajar</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admin/data-peserta   }" class="nav-link">
                                    <i class="nav-icon fas fa-users"></i>
                                    <p>Data Peserta</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admin/data-mata-pelajaran}" class="nav-link">
                                    <i class="nav-icon fas fa-book"></i>
                                    <p>Data Mata Pelajaran</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admin/data-bank-rekening}" class="nav-link">
                                    <i class="nav-icon fas fa-university"></i>
                                    <p>Data Bank dan Rekening</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admin/data-kurikulum}" class="nav-link">
                                    <i class="nav-icon fas fa-chart-line"></i>
                                    <p>Data Kurikulum</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admin/data-ruangan}" class="nav-link">
                                    <i class="nav-icon fas fa-building"></i>
                                    <p>Data Ruangan</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admin/data-kelas}" class="nav-link">
                                    <i class="nav-icon fas fa-chalkboard-teacher"></i>
                                    <p>Data Kelas</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admin/plotting-kurikulum-kelas}" class="nav-link">
                                    <i class="nav-icon fas fa-arrow-right"></i>
                                    <p>Plotting Kurikulum ke Kelas</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admin/plotting-kelas-pengajar}" class="nav-link">
                                    <i class="nav-icon fas fa-arrow-right"></i>
                                    <p>Plotting Kelas ke Pengajar</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admin/plotting-kelas-ruangan}" class="nav-link">
                                    <i class="nav-icon fas fa-arrow-right"></i>
                                    <p>Plotting Kelas ke Ruangan</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admin/jadwal-belajar}" class="nav-link">
                                    <i class="nav-icon fas fa-calendar"></i>
                                    <p>Jadwal Belajar</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admin/jadwal-ujian}" class="nav-link">
                                    <i class="nav-icon fas fa-calendar-check"></i>
                                    <p>Jadwal Ujian</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admin/ujian}" class="nav-link">
                                    <i class="nav-icon fas fa-clipboard-check"></i>
                                    <p>Ujian</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admin/soal-ujian}" class="nav-link">
                                    <i class="nav-icon fas fa-question-circle"></i>
                                    <p>Soal Ujian</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admin/sesi-ujian}" class="nav-link">
                                    <i class="nav-icon fas fa-clock"></i>
                                    <p>Sesi Ujian</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admin/parameter-penilaian}" class="nav-link">
                                    <i class="nav-icon fas fa-percent"></i>
                                    <p>Parameter Penilaian Ujian</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admin/event}" class="nav-link">
                                    <i class="nav-icon fas fa-bell"></i>
                                    <p>Event</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/admin/event-kehadiran}" class="nav-link">
                                    <i class="nav-icon fas fa-user-check"></i>
                                    <p>Event Kehadiran</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Finance -->
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-user-tie"></i>
                            <p>
                                Finance
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a th:href="@{/finance/daftar-pembayaran}" class="nav-link">
                                    <i class="nav-icon fas fa-chalkboard-teacher"></i>
                                    <p>Daftar Pembayaran</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/finance/program-sedekah}" class="nav-link">
                                    <i class="nav-icon fas fa-calendar-alt"></i>
                                    <p>Program Sedekah</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/finance/daftar-sedekah}" class="nav-link">
                                    <i class="nav-icon fas fa-play-circle"></i>
                                    <p>Daftar Sedekah</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Pengajar  -->
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-chalkboard-teacher"></i>
                            <p>
                                Pengajar
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a th:href="@{/pengajar/daftar-kelas}" class="nav-link">
                                    <i class="nav-icon fas fa-chalkboard"></i>
                                    <p>Daftar Kelas</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/pengajar/jadwal}" class="nav-link">
                                    <i class="nav-icon fas fa-calendar-alt"></i>
                                    <p>Jadwal Mengajar</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/pengajar/sesi-belajar}" class="nav-link">
                                    <i class="nav-icon fas fa-play-circle"></i>
                                    <p>Sesi Belajar</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/pengajar/ujian-praktik}" class="nav-link">
                                    <i class="nav-icon fas fa-pen-square"></i>
                                    <p>Ujian Praktik</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/pengajar/mutabaah}" class="nav-link">
                                    <i class="nav-icon fas fa-list-alt"></i>
                                    <p>Mutabaah Peserta</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/pengajar/berita-acara}" class="nav-link">
                                    <i class="nav-icon fas fa-file-alt"></i>
                                    <p>Berita Acara</p>
                                </a>
                            </li>
                            
                            <li class="nav-item">
                                <a th:href="@{/pengajar/rekap-pengajaran}" class="nav-link">
                                    <i class="nav-icon fas fa-list-alt"></i>
                                    <p>Rekap Pengajaran</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/pengajar/rekap-ujian}" class="nav-link">
                                    <i class="nav-icon fas fa-clipboard"></i>
                                    <p>Rekap Ujian</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/pengajar/slip-gaji}" class="nav-link">
                                    <i class="nav-icon fas fa-receipt"></i>
                                    <p>Slip Gaji</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- Peserta -->
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-user-graduate"></i>
                            <p>
                                Peserta
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a th:href="@{/peserta/lihat-tagihan}" class="nav-link">
                                    <i class="nav-icon fas fa-file-invoice"></i>
                                    <p>Lihat Tagihan</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/peserta/pembayaran}" class="nav-link">
                                    <i class="nav-icon fas fa-credit-card"></i>
                                    <p>Pembayaran Tagihan</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/peserta/jadwal}" class="nav-link">
                                    <i class="nav-icon fas fa-calendar-alt"></i>
                                    <p>Jadwal Belajar</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/peserta/mutabaah}" class="nav-link">
                                    <i class="nav-icon fas fa-book-open"></i>
                                    <p>Input Mutabaah</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/peserta/event}" class="nav-link">
                                    <i class="nav-icon fas fa-calendar-check"></i>
                                    <p>Jadwal Event</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a th:href="@{/peserta/laporan}" class="nav-link">
                                    <i class="nav-icon fas fa-chart-line"></i>
                                    <p>Laporan Hasil Belajar</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

</div>
</body>
</html>
