<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Santri</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/santri.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

<header class="header">
    <div class="logo-section">
        <img src="/images/LogoYSQ.png" alt="Logo YSQ" class="logo" />
        <h2>YAYASAN SAHABAT QUR'AN</h2>
    </div>

    <div class="user-info">
        <span id="role-user">Santri</span>
        <i class='bx bx-user-circle icon-user'></i> 
    </div>
</header>

<div class="main-container">
    <div class="dashboard-card">
        <div class="main-header-row">
            <h1>Dashboard Santri</h1>
            <div id="nisSantri"></div>
        </div>

        <div class="sub-nav scroll-x">
            <button class="active">Dashboard</button>
        
            <!-- SUDAH BENAR -->
            <a href="/dashboard/absensi-siswa">Riwayat Absen</a>
        
            <button data-dev="true">Raport</button>
            <button data-dev="true">Student Bill</button>
        </div>
        
        
        <div class="info-tahsin responsive-card">
            <img src="/images/kelas.jpg" alt="Ruang Kelas" class="info-tahsin-image">

            <div class="info-tahsin-body">
                <div class="info-left">
                    <p><strong>INFORMASI KELAS</strong></p>
                    <p><span class="label">Nama</span>: <span id="namaSantri">-</span></p>
                    <p><span class="label">Kategori</span>: <span id="kategori-santri">-</span></p>
                    <p><span class="label">Kelas</span>: <span id="kelas-santri">-</span></p>
                    <p><span class="label">Jadwal</span>: <span id="jadwal-santri">-</span></p>
                </div>
            </div>
        </div>

        <div class="student-event-section">
            <div class="student-event-tabs scroll-x">
                <button class="active">Student Info</button>
                <button>Event</button>
            </div>

            <div class="table-wrapper">
                <table class="info-table">
                    <thead>
                        <tr>
                            <th>NO</th>
                            <th>Kelas</th>
                            <th>Hari</th>
                            <th>Jam</th>
                            <th>Guru</th>
                            <th style="text-align: center;">Materi & Tugas</th>
                        </tr>
                    </thead>
                    <tbody id="jadwal-body">
                       
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<script type="module" src="/js/santri.js"></script>
</body>
</html>